/* ===========================
   GLOBAL STYLES
=========================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f5b05c; 
}

/* ===========================
   HOW TO PLAY BUTTON
=========================== */
.how-to-play-btn {
  padding: 5px 10px;
  font-size: 18px;
  background-color: blueviolet;
  color: #fff;
  border-radius: 10px;
  margin: 30px 20px;
  cursor: pointer;
  box-shadow: 0px 2px 3px #2e2e2e; 
}

/* ===========================
  MODAL STYLING
=========================== */

/* The Modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100vh; 
  overflow: auto;
  background-color: #fff;
  padding: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  width: 100%; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h3{
  font-size: 25px;
  padding-bottom: 20px;
}

.modal-content ul li{
  padding-bottom: 20px;
  font-size: 18px;
}

.modal-content p{
  font-size: 18px;
}


/* ===========================
   MAIN CONTAINER
=========================== */
.game-container {
  width: 100%;
  display: flex;
  justify-content: center;  
}

/* ===========================
   GAME BOX (Main Content)
=========================== */
.big-container {
  width: 800px;
  background: linear-gradient(to right, #7fffd4, #ff0000, #68c4f6); 
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 5px;
}

/* ===========================
   MAIN IMAGE (Hidden Image)
=========================== */
.black-box-container {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;          
  justify-content: center;    
  align-items: center; 
}

.black-box {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1); 
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
/* ===========================
   IMAGE OPTIONS (Choices)
=========================== */
.image-options-box {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 0px;
}

.image-options-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
}

/* ===========================
   GAME CONTENT LAYOUT
=========================== */
.game-container .game-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.black-box-container {
  width: 50%;
}

.image-options {
  width: 50%;
}

/* ===========================
   SUB CONTENT (Stats + Button)
=========================== */
.sub-content {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.sub-content p {
  font-size: 20px;
}

.showButton {
  background: transparent;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
